language: erlang
otp_release:
  - 18.3
  - 19.0
  - 19.3
  - 20.0
  - 20.2.2


before_script:
    - kerl list installations

script:
  - make test

after_success:
  - bash <(curl -s https://codecov.io/bash)
